.Bkground { 
  background-color: rgba(233, 227, 220, 0.849);
  margin-left: 0px;
  margin-right:0 px;
  padding: 0px;}

#box2 {
  color:white;
  display: inline-block;
  height: 40px;
  padding: 10px;
  background: rgb(56, 160, 179);
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
 
.navbar li a {
  color: #000;
  text-decoration: none;
}

.box_l {
  height: 450px;
  padding: 50px;
  margin-bottom: 20px;
  margin-top:20px;
  margin-left:20px; 
  margin-right:20px;
  color: rgb(56, 160, 179);
  background: white;
}

.text1 {
  color: rgb(26, 40, 43)
}

.box_r {
  height: 350px;
  padding: 50px;
  margin-bottom: 20px;
  margin-top:20px;
  margin-left:20px; 
  margin-right:20px;
  color:  rgb(56, 160, 179);
  background: white;
}


.margin-top-80 {
  margin-top: 80px;
}

.box h1 {
  color:rgb(56, 160, 179);
  font-size: 14pt;
}

.navbar li {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  border-radius: 3px;}

.navbar-custom {
  background-color: white;
  align-content: right ;
  }

.border1{
  border:1px solid rgb(56, 160, 179);
}

/* comparison page */ 
.box_comp {
  height: 800px;
  padding: 50px;
  margin-bottom: 20px;
  margin-top:20px;
  margin-left:20px; 
  margin-right:20px;
  color:  rgb(56, 160, 179);
  background: white;
}

.column_comp {
  float: left;
  width: 40%;
  margin-left: 3%;
  margin-right:3%;
}

.caption {
  font-size: 20px;
  color: rgb(56, 160, 179); 
  text-align: center;
  width: 230px;
 
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 800px) {
    
    #box {
      font:larger;
      color:white;
      height: 60px;
      padding: 10px;
      background: rgb(56, 160, 179);
    }
    .Bkground { 
      background-color: rgb(252, 234, 213);
    margin: 0px;
    padding: 0px;}
    
    #box2 {
      color:white;
      display: inline-block;
      height: 40px;
      padding: 10px;
      width: 100%;
      background: rgb(56, 160, 179);
    }
    
    .navbar li a {
      color: #000;
      text-decoration: none;}
    
    .box_l {
      height: 550px;
      padding: 50px;
      margin-bottom: 20px;
      margin-top:20px;
      margin-left:20px; 
      margin-right:20px;
      color:  rgb(56, 160, 179);
      background: white;
      }
      
    .box_r {
      height: 250px;
      padding: 50px;
      margin-bottom: 20px;
       margin-top:20px;
      margin-left:20px; 
      margin-right:20px;
      color:  rgb(56, 160, 179);
      background: white;
      }

    .text1 {
      color: rgb(26, 40, 43)
      }
    .margin-top-80 {
      margin-top: 80px;
    }
    .box h1 {color:rgb(56, 160, 179);
      font-size: 14pt; }
    
    .navbar li {
      display: inline-block;
      padding: 20px;
      cursor: pointer;
      border-radius: 3px;}

    .navbar-custom {
      background-color: rgb(56, 160, 179);
    }

    .column {
      width: 25%;
    }

    /* comparison page*/ 

    .column_comp {
      width: 100%;
    }

    .box_comp {
      height: 1400px;
      padding: 50px;
      margin-bottom: 20px;
      margin-top:20px;
      margin-left:20px; 
      margin-right:20px;
      color:  rgb(56, 160, 179);
      background: white;
    }